body {
    position: relative;
    font-family: "Segoe UI", Tahoma, Arial, sans-serif;
    background-color: #181818;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow-y: overlay;
}

.container {
    width: 100%;
    height: 100%;
    max-width: 100vw;
    min-height: 100vh;
    background: linear-gradient(0deg, rgba(11, 11, 11, 1) 0%, rgba(26, 26, 33, 1) 44%, rgba(40, 41, 41, 1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 30px;
    font-weight: 700;
    margin: 10px 0;
    color: #FFF;
}

.btns-container {
    margin-top: 6vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    width: 100%;
    height: fit-content;
}

.btn {
    min-width: 280px;
    width: 26%;
    max-width: 400px;
    height: fit-content;
    padding: 15px 15px;
    box-sizing: border-box;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}

.btn-spotify {
    background-color: #1DB954;
    color: #FFF;
}

.btn-spotify:hover {
    background-color: #1ED760;
}

.btn-youtube {
    background-color: #FF0000;
    color: #fff;
}

.btn-youtube i {
    color: #fff;
}

.btn-youtube:hover {
    background-color: #cc0000;
}

.btn-apple {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #ddd;
}

.btn-apple:hover {
    background-color: #f2f2f2;
}

.btn-apple-img {
    width: 20px;
    height: 20px;
}

a.back-link,
.back-link,
.back-link a {
    display: inline-block;
    font-size: 18px;
    color: #EEF2FF;
    text-decoration: none;
    transition: color .2s;
}

a.back-link:hover,
.back-link:hover,
.back-link a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.share-link {
  display: inline-block;
  font-size: 18px;
  color: #eef2ffd0;
  text-decoration: none;
  transition: color 0.2s;
}

.share-link:hover {
  color: #1DB954;
}

.songs-title a {
  margin-right: 11px;
  color: #e6e0e0;
  text-decoration: none;
}

.songs-title a:hover {
  color: white; 
}

.songs-title i {
  font-size: 1.1em;
  vertical-align: middle;
}
